<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo-placeholder.svg" alt="Logo" height="40">
        </a>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/noticias">Notícias</a>
                </li>
                <!-- Educação dropdown será adicionado depois -->
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre Nós</a>
                </li>
            </ul>

        
        <% if (!user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/auth/login">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/cadastro">Cadastrar</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="/perfil">Meu Perfil</a>
            </li>
        <% } %>
        

        </div>
    </div>
</nav>